BASETEN_API_KEY=tFggipYf.vUjaxGau6mHdvudzZF0icZhqj9ed8xFe
BASETEN_BASE_URL=https://inference.baseten.co/v1
BASETEN_MODEL=moonshotai/Kimi-K2.5

YOU_API_KEY=ydc-sk-714595a738084fef-VfBDVrBQq85yi3THT8M5yPEI3hjmLdnM-b2d760f9

GOOGLE_MAPS_API_KEY=AIzaSyB-ZRRvr51hqijzawg2SVnNaqV9dXhFOas



VOICERUN_API_KEY=cd510ab5-7bab-4ffa-a7ae-c3558fad1c7c
VOICERUN_AGENT_ID=your_deployed_agent_id
VOICERUN_FROM_PHONE=+15513940194
VOICERUN_WEBHOOK_URL=https://your-public-url/webhook
